{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>My first web page</title>
</head>
<body>
 <!-- A lot of help from https://www.w3schools.com/css/css_examples.asp -->
    <div class="column1">
        <h2>Bio:</h2>
        <p> I'm an avid Dungeons and Dragons player and I have been running my own games, and telling my stories for 5 years. </p>
        
        <p>I love learning and getting new skills as a hobby. In addition to my DfE course, I'm learning German.</p>
    
        <p>I love Technology and how it's power can be harnessed for good in the world</p>    </div>
    <div class="column2">
        <h2>Education</h2>
        <p> •	8 GCSE Grade A-C including English, Maths and Science<br>
            •	3 A Levels: Psychology C - Film Studies B - History C<br>
            •	History BA (Hons) - 2:1 - University of Plymouth 2011 - 2014<br>
        </p>

        <h2>Skills and compentancies </h2>
        <p> •	Facilitation and presentation skills: Strong ability to engage and motivate learners through interactive and dynamic training sessions.<br>
            •	Training and development: Experience in creating and delivering training and educational content. <br>
            •	Strong communication and interpersonal skills: Ability to communicate effectively with learners, team leaders, and stakeholders at all levels.<br>
        </p>
    </div>
    <div class="column3">
        <h3>Contact details</h3>

        <img src="https://media.licdn.com/dms/image/C5603AQFlT1I5d-fdPg/profile-displayphoto-shrink_400_400/0/1517285942065?e=1680739200&v=beta&t=4IjdrTgLo-djzboQNIgR8SEmHtCl9sLi5X1z9E6rvD0" alt = "Image of dan" class="center"/> 

        <p> email: dan.hearn@gmail.com<br>
            <a href="https://www.linkedin.com/in/daniel-hearn-24aa6412a/" target="_blank" rel="noopener noreferrer">My Linkedin</a><br>
        </p>
        


        <p>I have worked on many python projects such as database management, task managers and OOP projects which can be found at 
        
        <a href="https://github.com/runtotheparty" target="_blank" rel="noopener noreferrer">My Github</a><br>
    </p>

    </div>

    

    


</body>
</html>